@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: #0A8080;
    text-align: center;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

h2 {
    font-size: 36px;
    margin: 0 auto;
}

h3 {
    font-size: 24px;
}

header {
    background-color: #FEFFF5;
    padding: 2px;
    text-align: center;
}

button {
    display: block;
    font-weight: 700;
    color: #FFF;
    font-size: 18px;
    padding: 8px 20px;
    border-radius: 10px;
    background: #0A8080;
    border-style: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20);
}

.join-btn {
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.title-blog {
    text-align: center;
    margin-bottom: 78px;
    margin-top: 65px;
    color: #0A8080;
}

.post-one {
    background-color: #FEFFF5;
    padding: 20px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20);
    width: 942px;
    padding: 43px;
    margin-bottom: 60px;
}

footer {
    background-color: #0A8080;
    padding: 20px;
    text-align: center;
    color: #FFF;
}